Task 1 - Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [11]:
import pandas as pd
d = {"Chocolate":["Kinder Joy","Kit-Kat","Milky Bar","Dairy Milk","Kisses","Toblerone","Ferrero Rocher","5-Star","m&m's","Snickers"],
     "Brand":["Ferrero","Nestle","Nestle","Cadbury","Hershey's","Toblerone","Ferrero","Cadbury","M&M's","Mars"],
     "Price(Rs)":[45,30,20,85,50,225,149,20,120,50],
     "Weight(g)":[20,38.5,38,60,36,100,50,40,45,45],
     "Sugar Content(g)":[10,15.1,18.7,33.3,16.5,56,20,24.4,30,22.1]}
df = pd.DataFrame(d)
df

        Chocolate      Brand  Price(Rs)  Weight(g)  Sugar Content(g)
0      Kinder Joy    Ferrero         45       20.0              10.0
1         Kit-Kat     Nestle         30       38.5              15.1
2       Milky Bar     Nestle         20       38.0              18.7
3      Dairy Milk    Cadbury         85       60.0              33.3
4          Kisses  Hershey's         50       36.0              16.5
5       Toblerone  Toblerone        225      100.0              56.0
6  Ferrero Rocher    Ferrero        149       50.0              20.0
7          5-Star    Cadbury         20       40.0              24.4
8           m&m's      M&M's        120       45.0              30.0
9        Snickers       Mars         50       45.0              22.1

Task 2 - Check the info of 'df'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Chocolate         10 non-null     object
 1   Brand             10 non-null     object
 2   Price(Rs)         10 non-null     int64
 3   Weight(g)         10 non-null     float64
 4   Sugar Content(g)  10 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 528.0+ bytes

Task 3 - Check the descriptive statistics of 'df'

In [13]:
df.describe()

        Price(Rs)   Weight(g)  Sugar Content(g)
count   10.000000   10.000000         10.000000
mean    79.400000   47.250000         24.610000
std     66.776909   21.204363         13.004653
min     20.000000   20.000000         10.000000
25%     33.750000   38.125000         17.050000
50%     50.000000   42.500000         21.050000
75%    111.250000   48.750000         28.600000
max    225.000000  100.000000         56.000000

Task 4 - check the 4th index observation with 'loc' slicing operator.

In [14]:
df.loc[4]

Chocolate              Kisses
Brand               Hershey's
Price(Rs)                  50
Weight(g)                36.0
Sugar Content(g)         16.5
Name: 4, dtype: object

Task 5 - Check the null values in your 'df'

In [15]:
df.isnull().any()

Chocolate           False
Brand               False
Price(Rs)           False
Weight(g)           False
Sugar Content(g)    False
dtype: bool